.header {
  background-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 0 20px;
  width: 100%;
}

.toIndexButton {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  height: 100%;
  line-height: $header-height;
  padding: 0 3px;
  position: relative;
  width: fit-content;
  &:hover {
    color: $pink;
    &::after {
      @include hover-text();
      content: 'ボード一覧に戻る';
      position: absolute;
      top: 30px;
      left: 0;
    }
  }
}
