.labelFormContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.labelForm {
  display: flex;
  margin-bottom: 10px;
  &__icon {
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin-right: 10px;
    position: relative;
    width: 30px;
  }
  &__textField {
    @include text-field();
    flex: 1;
    margin-right: 5px;
  }
}

.labelFormButton {
  align-self: flex-end;
}
