.labelEditIndexContainer {
  max-height: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.newLabelButton {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  margin-top: 10px;
  padding: 10px;
  &__text {
    margin: 0;
    margin-left: 10px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
