.searchTextField {
  height: 80%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  width: 250px;
  @media (max-width: 600px) {
    flex: 1;
    max-width: 250px;
    width: 0;
  }
  &__input {
    @include text-field();
    border: none;
    box-sizing: border-box;
    font-size: 0.7rem;
    height: 100%;
    padding-right: 25px;
    width: 100%;
  }
  &__searchIcon {
    color: $font-color;
    position: absolute;
    top: 14%;
    right: 5px;
  }
  &__clear {
    @extend .searchTextField__searchIcon;
    cursor: pointer;
    &:hover {
      color: $pink;
    }
  }
}
