.boardFormWrapper {
  height: $board-card-height;
}

.boardFormCard {
  @include board-card();
  cursor: default;
  height: calc(#{$board-card-height} - 40px);
}

.boardFormCardInput {
  flex: 1;
  width: 100%;
  &__title {
    border: none;
    border-bottom: solid 1px $font-color;
    border-radius: 0;
    box-sizing: border-box;
    color: $font-color;
    margin-top: 10px;
    outline: none;
    padding: 5px 0;
    width: 100%;
    &:focus {
      border-color: $pink;
      border-width: 2px;
    }
  }
}

.boardFormCardButton {
  align-self: flex-end;
}
