.listNameForm {
  @include text-field();
  flex: 1;
  font-weight: bold;
  height: 26px;
  margin-right: 10px;
}

.listName {
  cursor: pointer;
  font-weight: bold;
  flex: 1;
  margin-right: 10px;
  max-width: 85%;
  word-wrap: break-word;
}
