.listFormContainer {
  background-color: $overlay;
  border-radius: 3px;
  box-sizing: border-box;
  min-width: $list-width;
  padding: 10px;
}

.listForm {
  margin-bottom: 10px;
  &__textField {
    @include text-field();
    box-sizing: border-box;
    width: 100%;
  }
}

.listFormButton {
  display: flex;
  justify-content: flex-end;
}
