.listContainer {
  background-color: $overlay;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  max-height: 100%;
  padding: 5px 10px 10px;
  min-width: $list-width;
  max-width: $list-width;
}

.listHeader {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  margin-bottom: 5px;
  padding: 5px 5px;
  position: relative;
}

.addCardButton {
  align-items: center;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  padding: 5px;
  &:hover {
    background-color: $hover-overlay;
  }
  &__icon {
    margin-right: 5px;
  }
}
