@mixin text-field() {
  border: solid 1px $border-color;
  border-radius: 5px;
  color: $font-color;
  height: 30px;
  outline-color: $pink;
  padding-left: 3px;
}

@mixin button() {
  border: solid 2px $border-color;
  border-radius: 18px;
  color: #666;
  cursor: pointer;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.1rem;
  &:hover {
    border-color: $pink;
    color: $pink;
    font-weight: 600;
  }
}

@mixin small-button() {
  background-color: white;
  border: solid 1px $border-color;
  border-radius: 3px;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: $font-color;
  cursor: pointer;
  padding: 5px 10px;
  width: 100px;
  &:hover {
    border-color: $pink;
    color: $pink;
  }
}

@mixin board-card() {
  background-color: white;
  border-radius: 3px;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: $font-color;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  text-decoration: none;
  &:hover {
    color: $pink;
  }
}

@mixin card-sidebar-row() {
  align-items: center;
  background-color: $card-element-background;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  height: 35px;
  padding: 0 5px;
  &__icon {
    margin-right: 5px;
  }
  &:hover {
    background-color: $card-element-hover-background;
  }
}
