@mixin text-field() {
  border: solid 1px $border-color;
  border-radius: 5px;
  color: $font-color;
  height: 30px;
  outline-color: $pink;
  padding-left: 3px;
}

@mixin button() {
  border: solid 2px $border-color;
  border-radius: 18px;
  color: #666;
  cursor: pointer;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.1rem;
  &:hover {
    border-color: $pink;
    color: $pink;
    font-weight: 600;
  }
}

@mixin small-button() {
  background-color: white;
  border: solid 1px $border-color;
  border-radius: 3px;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: $font-color;
  cursor: pointer;
  padding: 5px 10px;
  width: 100px;
  &:hover {
    border-color: $pink;
    color: $pink;
  }
}

@mixin board-card() {
  background-color: white;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: $board-card-height;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
}

@mixin card-sidebar-row() {
  align-items: center;
  background-color: $card-element-background;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  height: 35px;
  padding: 0 5px;
  &__icon {
    margin-right: 5px;
  }
  &:hover {
    background-color: $card-element-hover-background;
  }
}

@mixin hover-text() {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: white;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 2px 4px;
  width: fit-content;
  white-space: nowrap;
  z-index: 10;
}

@mixin card-detail-row() {
  margin-bottom: 20px;
}

@mixin card-detail-header() {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

@mixin card-detail-header-text() {
  font-weight: bold;
}

@mixin session-screen() {
  align-items: center;
  background-color: $background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  overflow-y: scroll;
  width: 100%;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin session-container() {
  background-color: #fff;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  padding: 30px 50px;
  width: 350px;
}
