.cardDescriptionText__text {
  border-radius: 3px;
  padding: 5px 10px;
}

.cardDescriptionText__placeholder {
  background-color: $card-element-background;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  &:hover {
    background-color: $card-element-hover-background;
  }
}
