.labelEditRow {
  align-items: center;
  display: flex;
  height: 45px;
  &__icon {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin-right: 10px;
    position: relative;
    width: 30px;
  }
  &__textField {
    @include text-field();
    flex: 1;
  }
  &__delete {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 5px;
    &:hover {
      color: $pink;
    }
  }
}

.labelEditNameContainer {
  flex: 1;
  outline: none;
  &__name {
    cursor: pointer;
    margin: 0;
    width: fit-content;
    &:hover {
      color: $pink;
    }
  }
}
