.label {
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  margin-bottom: 3px;
  &__icon {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
  &__name {
    @include hover-text();
    max-width: 300px;
    overflow: hidden;
    position: absolute;
    top: 35px;
    left: 50%;
    text-overflow: ellipsis;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
}
