.labelEditRow {
  align-items: center;
  display: flex;
  height: 50px;
  &__icon {
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
    width: 40px;
  }
  &__name {
    flex: 1;
  }
  &__delete {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 5px;
    &:hover {
      color: $pink;
    }
  }
}
