.label {
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  &__icon {
    border-radius: 50%;
    height: 100%;
    width: calc(#{$toolbar-height} * 0.7);
  }
  &__name {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    color: white;
    font-size: 0.8rem;
    padding: 2px 4px;
    position: absolute;
    top: calc(#{$toolbar-height} * 0.75);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    white-space: nowrap;
    width: fit-content;
  }
}
