.signUpContainer {
  align-items: center;
  background-color: $background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.signUpLogo {
  color: $font-color;
  font-size: 2.0rem;
  letter-spacing: 0.3rem;
  margin-bottom: 30px;
}

.signUp {
  background-color: #fff;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  width: 350px;
  &__usernameTextField {
    @include text-field;
    margin-bottom: 20px;
  }
  &__emailTextField {
    @include text-field;
    margin-bottom: 20px;
  }
  &__passwordTextField {
    @include text-field;
    margin-bottom: 20px;
  }
  &__passwordConfirmationTextField {
    @include text-field;
    margin-bottom: 30px;
  }
  &__button {
    @include button;
  }
  &__linkToSignIn {
    align-self: center;
    color: $font-color;
    font-size: 0.8rem;
    margin-top: 30px;
    &:hover {
      color: $pink;
    }
  }
}
