.checkList {
  @include card-detail-row();
}

.checkListHeader {
  @include card-detail-header();
  justify-content: space-between;
  &__label {
    @include card-detail-header-text();
  }
}

.checkListItemContainer {
  margin-top: 10px;
  margin-bottom: 15px;
}
