body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './css/variables';
@import './css/mixin';
@import './css/App';
@import './css/Board';
@import './css/BoardForm';
@import './css/BoardIndex';
@import './css/BoardNameForm';
@import './css/Card';
@import './css/CardDescriptionText';
@import './css/CardDetail';
@import './css/CardForm';
@import './css/CardTitle';
@import './css/ColorPicker';
@import './css/Dialog';
@import './css/FlexTextArea';
@import './css/Header';
@import './css/Label';
@import './css/LabelEdit';
@import './css/LabelEditRow';
@import './css/LabelForm';
@import './css/LabelIndex';
@import './css/List';
@import './css/ListForm';
@import './css/ListMenu';
@import './css/ListNameForm';
@import './css/SignIn';
@import './css/SignUp';
@import './css/ToolBar';
