body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './css/variables';
@import './css/mixin';

// app
@import './css/app/App';

// board
@import './css/board/Board';
@import './css/board/BoardForm';
@import './css/board/BoardIndex';
@import './css/board/BoardIndexCard';

// card
@import './css/card/Card';
@import './css/card/CardDescription';
@import './css/card/CardDescriptionForm';
@import './css/card/CardDescriptionText';
@import './css/card/CardDetail';
@import './css/card/CardForm';
@import './css/card/CardIndexContainer';
@import './css/card/CardLabel';
@import './css/card/CardLabelContainer';
@import './css/card/CardLabelForm';
@import './css/card/CardLabelFormButton';
@import './css/card/CardLabelFormRow';
@import './css/card/CardLabelSmall';
@import './css/card/CardSideBar';
@import './css/card/CardSideBarDeleteButton';
@import './css/card/CardTitle';

// common
@import './css/common/ButtonCancel';
@import './css/common/ButtonSubmit';
@import './css/common/ColorPicker';
@import './css/common/Dialog';
@import './css/common/FlexTextArea';
@import './css/common/FlexTextField';
@import './css/common/Header';
@import './css/common/ToolBar';

// label
@import './css/label/Label';
@import './css/label/LabelEdit';
@import './css/label/LabelEditRow';
@import './css/label/LabelForm';
@import './css/label/LabelIndex';

// list
@import './css/list/List';
@import './css/list/ListForm';
@import './css/list/ListMenu';
@import './css/list/ListMenuButton';
@import './css/list/ListName';

// search
@import './css/search/SearchBoard';
@import './css/search/SearchBoardIndex';
@import './css/search/SearchCard';
@import './css/search/SearchCardIndex';
@import './css/search/SearchForm';
@import './css/search/SearchInfo';
@import './css/search/SearchTextField';

// session
@import './css/session/SignIn';
@import './css/session/SignUp';
