.cardDescription {
  @include card-detail-row();
}

.cardDescriptionHeader {
  @include card-detail-header();
  &__label {
    @include card-detail-header-text();
    margin-right: 8px;
  }
  &__icon {
    cursor: pointer;
    font-size: 0.9rem;
    &:hover {
      color: $pink;
    }
  }
}
