.cardLabelContainer {
  @include card-detail-row();
  &__label {
    @include card-detail-header-text();
    margin-bottom: 5px;
  }
}

.cardLabelIndex {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
